div.list{
  padding: 2rem 0rem;
  border-top: solid 0.1rem lightgrey;
}
div.card{
  width: 14rem;
  max-width: 14rem;
  height: 13rem;
}
div.card-img-top{
  height: 8rem;
  padding-top: 1rem;
  text-align: center;
  border-bottom: solid 0.1rem lightgrey;
}
div.card-content{
  height: 5rem;
  overflow-y: hidden;
  word-break: keep-all;
}
div.card-select{
  padding-top: 1.25rem;
  background-color: lightblue;
  text-align: center;
}
i.fa-check{
  color: white;
}
p.card-text, b.card-text{
  font-size: 80%;
}
