<div class="list-container row col-12">
  <div class="list col-12">
    <h4 class="list-title mb-4">Saved Providers</h4>
    <div *ngIf="selectedProviders.length == 0">
      <p>select some providers below to save</p>
    </div>
    <div class="card-deck">
      <app-provider-card
        [listName]="'selected'"
        [providerList]="selectedProviders"
        (emitProviderIndex)="unselectProvider($event)"
      ></app-provider-card>
    </div>
  </div>
  <hr>
  <div class="list col-12">
    <h4 class="list-title mb-4">Other Providers</h4>
    <div *ngIf="unselectedProviders.length == 0">
      <p>we currently have no other providers to recommend</p>
    </div>
    <div class="card-deck">
      <app-provider-card
        [listName] = "'unselected'"
        [providerList]="unselectedProviders"
        (emitProviderIndex)="selectProvider($event)"
      ></app-provider-card>
    </div>
  </div>
</div>
