div.list-container{
  margin: 2rem 0rem 4rem 0rem;
  padding: 1rem 0rem 2rem 0rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.2rem 0.1rem 0.1rem rgba(211, 211, 211, 0.25);
}
div.list{
  padding: 2rem;
}
hr{
  background-color: lightgrey;
  height: 0.01rem;
  width: 95%;
}
